---
import { Image } from "astro:assets";
import eemeli from "../../assets/eemeli-kyrola.webp"
---

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto py-6">
      <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
        <p
          class="text-lg lg:col-start-2 leading-relaxed"
          data-aos="fade-up"
          data-aos-duration="2000">
          I'm a third year information and communication technology student from Lapland University of Applied Sciences. I love to make programs that help to make my everyday life easier.
        </p>
        <img class="text-xs lg:row-start-2 lg:col-start-3 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
        loading="lazy"
        src={eemeli.src} />
      </div>
    </div>
  </section>