<div class="space-y-2">
    <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
    </div>
        <h3
        class="flex gap-1 text-secondary text-xs font-medium"
        data-aos="fade-up"
        data-aos-duration="1500">
        <span>{}</span>
        <span class="font-bold">projects</span>
        </h3>
    <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
    </div>
</div>