---
import { otherprojects } from "../../data/otherprojects.json";
import { workList } from "../../data/workList.json";
---

<section class="bg-primary">

  <div class="px-8 2xl:max-w-7xl mx-auto py-32">

    <!-- SECTION HEADER -->
    <div class="space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <h3
        class="flex gap-1 text-secondary text-xs font-medium"
        data-aos="fade-up"
        data-aos-duration="1500">
        <span>My recent</span>
        <span class="font-bold">projects</span>
      </h3>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
    </div>

    <!-- LIST -->
{
        workList.map((Work) => (
        <ul
      class="mx-auto grid grid-cols-1 text-secondary items-start gap-6 mt-32"
      role="list">

      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="1500">
        <a href={Work.url}>
          <div class="h-full flex flex-col justify-between">
        <div>
     <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:mb-8 xl:mb-0">
                02.
              </p>
</div>
<p class="italic shrink-0">
{Work.time}
</p>
             <p class="text-xs mt-3 leading-relaxed">
               {Work.title}
              </p>
               <p class="mt-3 text-xs font-semibold">
                 {Work.company}
              </p>


          </div>
        </a>
      </li>

    </ul>
   ))
      }

      <!-- LIST END -->

  </div>
</section>
