<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg viewBox="0 0 483 78" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
  d="M4.85938 120V29.0909H70.3778V48.9773H29.5398V64.6023H67.0043V84.4886H29.5398V100.114H70.2003V120H4.85938ZM82.6182 120V29.0909H148.137V48.9773H107.299V64.6023H144.763V84.4886H107.299V100.114H147.959V120H82.6182ZM160.377 29.0909H191.094L212.224 80.5824H213.289L234.418 29.0909H265.135V120H240.988V67.4432H240.278L220.036 119.29H205.476L185.235 67.0881H184.525V120H160.377V29.0909ZM276.832 120V29.0909H342.35V48.9773H301.512V64.6023H338.977V84.4886H301.512V100.114H342.173V120H276.832ZM354.591 120V29.0909H379.271V100.114H416.025V120H354.591ZM450.682 29.0909V120H426.002V29.0909H450.682ZM462.379 120V29.0909H487.059V65.8452H488.302L515.646 29.0909H544.41L513.693 69.5739L545.12 120H515.646L495.227 85.9091L487.059 96.5625V120H462.379ZM548.006 29.0909H575.527L593.283 66.0227H593.993L611.749 29.0909H639.27L605.889 91.4134V120H581.386V91.4134L548.006 29.0909ZM647.315 120V29.0909H686.555C693.303 29.0909 699.206 30.319 704.267 32.7752C709.327 35.2314 713.263 38.7678 716.074 43.3842C718.886 48.0007 720.291 53.5346 720.291 59.9858C720.291 66.4962 718.841 71.9857 715.941 76.4542C713.071 80.9227 709.031 84.2963 703.823 86.5749C698.644 88.8536 692.592 89.9929 685.668 89.9929H662.23V70.8168H680.696C683.596 70.8168 686.067 70.4616 688.109 69.7514C690.181 69.0116 691.764 67.8427 692.859 66.2447C693.983 64.6467 694.546 62.5604 694.546 59.9858C694.546 57.3816 693.983 55.2657 692.859 53.6381C691.764 51.9809 690.181 50.7676 688.109 49.9982C686.067 49.1992 683.596 48.7997 680.696 48.7997H671.996V120H647.315ZM700.582 78.2741L723.31 120H696.499L674.304 78.2741H700.582ZM818.88 74.5455C818.88 84.6662 816.912 93.2037 812.976 100.158C809.04 107.083 803.728 112.335 797.04 115.916C790.352 119.467 782.895 121.243 774.668 121.243C766.382 121.243 758.895 119.453 752.207 115.872C745.549 112.261 740.252 106.994 736.316 100.069C732.41 93.1149 730.456 84.607 730.456 74.5455C730.456 64.4247 732.41 55.902 736.316 48.9773C740.252 42.023 745.549 36.7702 752.207 33.2191C758.895 29.6384 766.382 27.848 774.668 27.848C782.895 27.848 790.352 29.6384 797.04 33.2191C803.728 36.7702 809.04 42.023 812.976 48.9773C816.912 55.902 818.88 64.4247 818.88 74.5455ZM793.489 74.5455C793.489 69.1004 792.764 64.5135 791.314 60.7848C789.894 57.0265 787.778 54.1856 784.966 52.2621C782.185 50.3089 778.752 49.3324 774.668 49.3324C770.584 49.3324 767.137 50.3089 764.325 52.2621C761.544 54.1856 759.428 57.0265 757.978 60.7848C756.557 64.5135 755.847 69.1004 755.847 74.5455C755.847 79.9905 756.557 84.5922 757.978 88.3505C759.428 92.0792 761.544 94.9201 764.325 96.8732C767.137 98.7968 770.584 99.7585 774.668 99.7585C778.752 99.7585 782.185 98.7968 784.966 96.8732C787.778 94.9201 789.894 92.0792 791.314 88.3505C792.764 84.5922 793.489 79.9905 793.489 74.5455ZM760.641 21.1009C757.623 21.1009 755.063 20.0947 752.962 18.0824C750.861 16.0701 749.81 13.6435 749.81 10.8026C749.81 7.96164 750.861 5.53503 752.962 3.52273C755.063 1.51041 757.623 0.504258 760.641 0.504258C763.571 0.504258 766.071 1.51041 768.143 3.52273C770.244 5.53503 771.294 7.96164 771.294 10.8026C771.294 13.6435 770.244 16.0701 768.143 18.0824C766.071 20.0947 763.571 21.1009 760.641 21.1009ZM788.873 21.1009C785.854 21.1009 783.294 20.0947 781.193 18.0824C779.092 16.0701 778.042 13.6435 778.042 10.8026C778.042 7.96164 779.092 5.53503 781.193 3.52273C783.294 1.51041 785.854 0.504258 788.873 0.504258C791.802 0.504258 794.303 1.51041 796.374 3.52273C798.475 5.53503 799.526 7.96164 799.526 10.8026C799.526 13.6435 798.475 16.0701 796.374 18.0824C794.303 20.0947 791.802 21.1009 788.873 21.1009ZM830.299 120V29.0909H854.979V100.114H891.733V120H830.299ZM925.325 120H898.691L928.699 29.0909H962.434L992.441 120H965.808L945.922 54.1264H945.211L925.325 120ZM920.353 84.1335H970.424V102.599H920.353V84.1335ZM931.54 21.1009C928.521 21.1009 925.961 20.0947 923.86 18.0824C921.759 16.0701 920.709 13.6435 920.709 10.8026C920.709 7.96164 921.759 5.53503 923.86 3.52273C925.961 1.51041 928.521 0.504258 931.54 0.504258C934.469 0.504258 936.97 1.51041 939.041 3.52273C941.142 5.53503 942.193 7.96164 942.193 10.8026C942.193 13.6435 941.142 16.0701 939.041 18.0824C936.97 20.0947 934.469 21.1009 931.54 21.1009ZM959.771 21.1009C956.753 21.1009 954.193 20.0947 952.092 18.0824C949.991 16.0701 948.94 13.6435 948.94 10.8026C948.94 7.96164 949.991 5.53503 952.092 3.52273C954.193 1.51041 956.753 0.504258 959.771 0.504258C962.701 0.504258 965.201 1.51041 967.273 3.52273C969.374 5.53503 970.424 7.96164 970.424 10.8026C970.424 13.6435 969.374 16.0701 967.273 18.0824C965.201 20.0947 962.701 21.1009 959.771 21.1009Z"
fill="#0000ff"></path>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>UI Designer</span>
            <span class="font-bold">Front end dev</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://github.com/michael-andreuzza"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="https://dribbble.com/MichaelAndreuzza"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M19.989 11.572a7.96 7.96 0 0 0-1.573-4.351 9.749 9.749 0 0 1-.92.87 13.157 13.157 0 0 1-3.313 2.01c.167.35.32.689.455 1.009v.003a9.186 9.186 0 0 1 .11.27c1.514-.17 3.11-.108 4.657.101.206.028.4.058.584.088zm-9.385-7.45a46.164 46.164 0 0 1 2.692 4.27c1.223-.482 2.234-1.09 3.048-1.767a7.88 7.88 0 0 0 .796-.755A7.968 7.968 0 0 0 12 4a8.05 8.05 0 0 0-1.396.121zM4.253 9.997a29.21 29.21 0 0 0 2.04-.123 31.53 31.53 0 0 0 4.862-.822 54.365 54.365 0 0 0-2.7-4.227 8.018 8.018 0 0 0-4.202 5.172zm1.53 7.038c.388-.567.898-1.205 1.575-1.899 1.454-1.49 3.17-2.65 5.156-3.29l.062-.018c-.165-.364-.32-.689-.476-.995-1.836.535-3.77.869-5.697 1.042-.94.085-1.783.122-2.403.128a7.967 7.967 0 0 0 1.784 5.032zm9.222 2.38a35.947 35.947 0 0 0-1.632-5.709c-2.002.727-3.597 1.79-4.83 3.058a9.77 9.77 0 0 0-1.317 1.655A7.964 7.964 0 0 0 12 20a7.977 7.977 0 0 0 3.005-.583zm1.873-1.075a7.998 7.998 0 0 0 2.987-4.87c-.34-.085-.771-.17-1.245-.236a12.023 12.023 0 0 0-3.18-.033 39.368 39.368 0 0 1 1.438 5.14zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="https://twitter.com/Mike_Andreuzza"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="mailto:michael@andreuzza.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >See more templates on &nbsp;<a
            class="hover:text-black duration-200 font-bold"
            href="https://lexingtonthemes.com/">Lexington Themes</a
          ></span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Get it on &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            href="https://github.com/michael-andreuzza/swissfolio">GitHub</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
