---
import { workList } from "../../data/workList.json";
---

<section class="bg-primary">

  <div class="px-8 2xl:max-w-7xl mx-auto py-32">

    <!-- SECTION HEADER -->
    <div class="space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <h3
        class="flex gap-1 text-secondary text-xs font-medium"
        data-aos="fade-up"
        data-aos-duration="1500">
        <span>My</span>
        <span class="font-bold">recent</span>
        <span class="italic">works</span>
      </h3>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
    </div>

   <div class="grid md:grid-cols-3 grid-cols-1 grid-rows-1 gap-4 w-full">
    { workList.map((Work) => (
    <div class="flex flex-col w-full text-secondary gap-6 mt-32" data-aos="fade-up" data-aos-duration="1500">
        <div class="flex justify-start items-start ">
            <h3 class="text-9xl font-bold">{Work.num}</h3>
        </div>
        <div class="flex flex-col justify-center w-full">
            <p class="italic shrink-0">
                {Work.time}
            </p>
            <p class="text-xs mt-3 leading-relaxed">
                {Work.title}
            </p>
            <p class="mt-3 text-xs font-semibold">
                    {Work.company}
            </p>
        </div>
    </div>
    ))
    }

     </div>
 

  </div>
</section>
